.upper-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 30px 12px 15px;
}
.a {
  background: linear-gradient(to right, #b197fc, #eebefa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  margin-right: 200px;
}